html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#header {
  width: 99vw;
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9)
    ),
    url(../img/gettyimages-535555349.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 0;
}

header {
  background-color: #212529ee;
}

.head-btn {
  background-color: #0ac2d2;
  border-radius: 0;
  color: #f5f5f5;
  width: 100%;
  letter-spacing: 0.8px;
  transition: all 0.5s;
}

.main-head {
  width: 90%;
  margin: 25% auto 0 auto;
  font-style: italic;
  cursor: default;
}

h4{
  color: rgba(0, 0, 0, 0.726);
  text-align: center;
  padding-top: 10%;
  letter-spacing: 1px;
  cursor: default;
}

.main-head blockquote {
  font-size: 70px;
  text-align: center;
  color: rgba(240, 248, 255, 0.822);
}

#about-sec {
  background-color: rgba(241, 239, 239, 0.938);
  padding: 5% 5% 8% 5%;
  letter-spacing: 0.6px;
  font-family: sans-serif;
}

#about-sec h2::after {
  display: block;
  content: " ";
  background-color: #0ac2d2;
  width: 50px;
  height: 8px;
  margin-top:3px ;
  margin-bottom: 2%;
}

.trigger-btn {
  margin-top: 101%;
}

.form-signin {
  width: 100%;
  max-width: 40%;
  padding: 15px;
  margin: auto;
  margin-top: 2%;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="tel"],
.form-signin input[type="number"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#Footer{
  height: 14%;
  background-color: rgba(241, 239, 239, 0.938);
}

#Footer p{
  padding-top: 3%;
  text-align: center;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
